* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.837);
  background-image: url("/project/workspace/public/images/half-react.png");
  background-repeat: no-repeat;
  background-size: 120px;
  background-position-x: right;
  background-position-y: 65%;
}

div {
  color: white;
}
div h1 {
  font-size: 35px;
  margin-left: 40px;
}
div ul {
  font-size: 20px;
  line-height: 2;
  margin-left: 40px;
}
div ul li::marker {
  color: #61dafb;
  font-size: 30px;
}

.header {
  background-color: rgba(12, 11, 11, 0.377);
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  padding: 40px;
  color: rgb(89, 187, 225);
  display: flex;
  align-items: center;
}
nav img {
  width: 60px;
  margin-right: 7px;
}
nav span {
  color: #61dafb;
  font-size: 28px;
  font-weight: 700;
}

.nav-item {
  margin-right: 22px;
}
